<!-- Footer -->  
<footer class="text-lg-start text-white">
  <div class="p-3 fixed-bottom">
    <span class="text-black">Contact:</span><br>
    <%= render 'layouts/shared_user/instagram' %>
    <span class="text-black">@himakafikom.vote</span><br>
    <%= render 'layouts/shared_user/email' %>
    <span class="text-black">pemilu.himaka@gmail.com</span>
  </div>
</footer>