<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">List User Unvote</h4>
        <p class="card-category">List User Unvote</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <h4>Total Vote : <%= @user_unvotes.size %></h4>
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>No</th>
                <th>Email</th>
                <th>Full Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @user_unvotes.each_with_index do |user, idx| %>
                <tr>
                  <td><%= idx+1 %></td>
                  <td><%= user.email %></td>
                  <td><%= user.full_name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>