<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="col-md-6">
    <div class="card card-stats">
      <h2 class="text-center card-title">Login Admin!</h2>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons">email</i>
          </span>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control col-md-10', placeholder: 'Email Admin' %>
      </div><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons">key</i>
          </span>
        </div>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control col-md-10', placeholder: 'Password admin' %>
      </div>
      <div class="actions offset-1 p-3">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
