<center style="padding-top: 7%;"><h1 style="color: #425b35">Bila terdapat kendala selama pencoblosan berlangsung dapat menghubungi media sosial kami di :</h1></center>
<center><h1 style="color: #425b35">
<%= render 'layouts/shared_user/wa' %> : 08882042790 | <%= render 'layouts/shared_user/instagram' %> : himakafikom.vote | <%= render 'layouts/shared_user/line' %> : diyzhr | masita_09</h1>
</center>