<center style="padding-top: 6%;"><h1 style="color: #425b35">HIMAKA FIKOM VOTE 2021</h1></center>
<hr style="height:5px;border-width:3;color:#000000;background-color:#000000;width:50%">
<center style="padding-top: 3%;"><h1 style="color: #425b35">Pemilihan Calon Pemimpin</h1></center>
<center><h1 style="color: #425b35">Himpunan Mahasiswa Ilmu Informasi dan Perpustakaan</h1></center>
<!-- Footer -->  
<footer class="text-lg-start text-white fixed-bottom">
  <div class="p-3">
    <span style="color: black;">Contact:</span><br>
    <%= render 'layouts/shared_user/instagram' %>
    <span style="color: black;">@himakafikom.vote</span><br>
    <%= render 'layouts/shared_user/email' %>
    <span style="color: black;">pemilu.himaka@gmail.com</span>
  </div>
</footer>