<center style="padding-top: 1%;"><h1 style="color: #425b35">HIMAKA FIKOM VOTE 2021</h1></center>
<hr style="height:5px;border-width:3;color:#000000;background-color:#000000;width:50%">
<center style="padding-top: 6%;"><h1 style="color: #425b35">Pemilihan Calon Pemimpin</h1></center>
<center><h1 style="color: #425b35">Himpunan Mahasiswa Ilmu Informasi dan Perpustakaan</h1></center>