<center class="pt-3"><h1 style="color: #425b35">TUTORIAL VOTING</h1></center>
<hr style="height:5px;border-width:3;color:#000000;background-color:#000000;width:50%">
<div class="container">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="<%= Rails.cache.fetch("video_tutorial") %>" width="640" height="480" allow="autoplay"></iframe>
  </div>
  <br><br><br><br>
</div>