<center class="pt-3"><h1 style="color: #425b35">TUTORIAL VOTING</h1></center>
<hr style="height:5px;border-width:3;color:#000000;background-color:#000000;width:50%">
<div class="container">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
  </div>
  <br><br><br><br>
</div>